.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

run/
runs/

.idea/
*.iml
*.ipr
*.iws
.vscode/
.settings/
.classpath
.project
out/

.DS_Store
Thumbs.db
desktop.ini
